.nav{
    flex-grow: 1;
    margin-bottom: "3rem" ;
    
}

.appBar{
    box-shadow: "none";
    background-color: "whitesmoke";
    position: fixed;
}

.image{
    margin-right: "10px";
    height: "10px";
  
}

.card{
    max-width: 345;
    
}