.containerCheckout{
    margin-top: 70px;
}

.titleCheckout{
    text-align: center;
    padding: 10px;
}

.form{
    text-align: center;
}
.form input {
    width: 20%;
}

.buttonCheckout{
    padding:10px;
}