.root {
    flex-grow: 1;
    margin-bottom: 3rem;
  }

  .navbar{
    background-color: whitesmoke;
    box-shadow: none;
    position:fixed; 
    width: 100%;
    height: 60px; 
  }

  .grow{
    flex-grow: 1;
  }


  .logo {
    margin-right: 10px;
    height:2rem;
  }
  .dropdown{
    margin-top: 30px; 
    
    
  }