input{
    width: 35px;
    height: 20px;
}

.item-count{
display: flex;
justify-content: center;
align-items: center;
}

.btn-add-Cart{
    display: flex;
justify-content: center;
align-items: center;
margin-bottom: 20px;
}